/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video{
    border:0;
    font-size:100%;
    font:inherit;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
html{scroll-behavior:smooth;}
body{
    background:#fff;
    color:#000;
    font-family: 'Work Sans', sans-serif;
    font-size:16px;
    line-height:1;
}
ol, 
ul,
li{list-style:none;}
strong{
    font-family:'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
table{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}
img{width:fit-content;}
a,
a:hover{
    color:#000;
    text-decoration:none;
    cursor:pointer;
}
:focus{outline:0;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
    border:0;
    border-bottom:1px solid #000;
    color:#000;
    padding:8px 0;
    font:16px 'Work Sans', sans-serif;;
    background:transparent;
    width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
    border:1px solid #000;
    text-transform:uppercase;
    padding:10px 30px;
    color:#000;
    font:13px 'Work Sans', sans-serif;;
    background:transparent;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}

/* Fim do Reset --------------------------------------- */

/* container */
.container{
    max-width: 1100px;
    margin: 0 7%;
}

/* ocultos desktop */
.hamburguer, .sub-menu, .menu-mobile, .close,
footer div  img {
    display: none;
}

/* Whats lateral --------------------------------------- */
.whats-lateral{
    position: fixed;
    display: inline-block;
    top: 50%;
    right: -165px;
    background: #62D20A;
    font-size: 18px;
    padding: 10px 20px 10px 10px;
    transition: .5s ease all;
}
.whats-lateral i{
    font-size: 30px;
    vertical-align: middle;
    filter: invert(1);
    margin-right: 10px;
}
.whats-lateral a:hover{
    color: #ccc;
}
.show-whats{right: 0px;}

/* header ---------------------------------------------- */
/* cabeçario */
.topo-fixo{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
header{background: #405CA3;}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 11px 0;
}
nav .menu-desktop > ul{
    display: flex;
    gap: 70px;
}
nav .menu-desktop{position: relative;}
nav .menu-desktop a{color: #fff;}
nav .menu-desktop a:hover{color: #fff;}
nav .menu-desktop img{
    width: 8px;
    transition: .3s ease all;
}
nav .menu-desktop li:hover img{transform: scaleY(-1);}
nav .menu-desktop li:hover .sub-menu{display: block;}

nav .sub-menu{
    position: absolute;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, .3);
}
nav .sub-menu li{padding: 8px;}
nav .sub-menu a{color: #000;}
nav .sub-menu a:hover{color: #666;}


/* main ----------------------------------------------------------------------- */
/* titulo ----------------------------------------------*/
main .titulo{
    display: block;
    width: 100%;
    margin: 160px 0 35px;
}
main h2{
    font: 700 45px/1.4 'Work Sans', sans-serif;
    text-transform: uppercase;
    width: 40px;
}
main h2 span{color: #405CA3;}

/* contato --------------------------------------------- */
.contato{
    display: flex;
    gap: 120px;
}

/* contato lateral */
.contato aside{
    width: 250px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
}
.contato aside li a{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    height: 40px;
}
.contato aside i{font-size: 23px;}
.contato aside li:nth-child(1){background: #43527A;}
.contato aside li:nth-child(2){background: #405CA3;}
.contato aside li:nth-child(3){background: #23418A;}
.contato aside li:nth-child(2) i{transform: scaleX(-1);}
.contato aside li:nth-child(3) i{font-size: 18px;}

/* Formulario -------------------------------------------*/
.contato article{width: 50%;}
.contato p{
    color: #404040;
    width: 480px;
    font: 15px/17px 'Work sans', sans-serif;
    margin-bottom: 30px;
}
.contato label{
    color: #405CA3;
    font-weight: 700;
}
.contato input,textarea{
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 3px;
    padding: 3px 2px;
    box-sizing: border-box;
    margin: 5px 0 20px;
    height: 29px;
}
.contato textarea{
    resize: none;
    height: 150px;
    line-height: 1.4;
}
.contato input:focus, textarea:focus{
    border: 2px solid #000;
}
.contato input[type="submit"]{
    display: block;
    width: 170px;
    height: 40px;
    background: #405CA3;
    border: none;
    border-radius: 0;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* footer --------------------------------------------------------------------- */
footer{
    background: #405CA3;
    padding: 30px 0;
    margin: 50px 0 0;
}
footer li, h3, a, a:hover, p{color: #fff;}
footer h3, footer span{
    font: 700 18px 'Work Sans', sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
}
footer li{
    margin: 20px 0;
    font-size: 14px;
}
footer i{margin-right: 10px;}
footer .codeblue-footer ul ul, .selos-footer{
    display: flex;
    gap: 5px;
    margin-top: 30px;
}
footer .codeblue-footer i{font-size: 20px;}

footer .contatos-footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
footer .telefones-footer{
    grid-column: 1/2;
    grid-row: 1/2;
}
footer .solucoes-footer{
    grid-column: 2/3;
    grid-row: 1/3;
}
footer .treinamentos-footer{
    grid-column: 3/4;
    grid-row: 1/3;
}
footer .codeblue-footer{
    grid-column: 4/5;
    grid-row: 1/3;
}
footer .selos-footer{
    grid-column: 1/2;
    grid-row: 2/3;
}

/* direitos ---------------------- */
footer .direitos{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding-top: 30px;
    margin-top: 40px;
}

footer .direitos p, .direitos span{
    font-size: 12px;
}



/* ============================================================================ */

/* Versão Mobile */
@media screen and (max-width:991px){
    /* container */
    .container{
        margin: 0 15%;
    }

    /* ocultos */
    nav .menu-desktop, .sub-menu-mobile{display: none;}

    /* header ----------------------------------------------------------*/
    nav .hamburguer{display: block;}
    nav .hamburguer img{
        box-sizing: content-box;
        width: 25px;
        border: 1px solid #fff;
        padding: 5px;
    }
    nav .menu-mobile{
        position: fixed;
        top: -800px;
        left: 0;
        background: #fff;
        color: #000;
        font-size: 18px;
        height: 100vh;
        width: 100%;
        transition: .8s ease all;
        display: block;
    }
    nav .menu-mobile a{color: #000;}
    nav .show-mobile{top:0;}
    nav .menu-mobile > ul >li{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50%;
    }
    nav .menu-mobile li{
        padding: 20px 25px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    nav .menu-mobile > ul > li:first-child{box-shadow: 0 0 5px rgba(0, 0, 0, .3);}
    nav .menu-mobile img{
        filter: invert(1);
        width: 15px;
        height: 15px;
        transition: .3s ease all;
    }
    .rotate{transform: rotate(180deg);}



    /* main ----------------------------------------------------------------------- */
    .contato{display: block;}
    .contato p, .contato article{width: 100%;}
    .contato form{width: 80%;}
    .contato input{height: 50px;}
    .contato input[type="submit"]{border-radius: 3px;}

    /* footer ---------------------------------------------------------------------- */
    footer .contatos-footer{
        display: block;
    }
    footer div{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    footer div img{
        display: block;
        transition: .3s ease all;
        width: 15px;
        height: 15px;
    }
    footer h3{font-size: 15px;}
    footer .contatos-footer{position: relative;}
    footer .selos-footer{
        position: absolute;
        right: 0;
        bottom: 20px;
    }
}
